.contenedor{
    background-color: rgb(162, 83, 237);
    padding: 10px;
    font-size: 23px;
    text-align: center;
    display: grid;
    grid-gap: 10px; /*para separar cajas*/
   /* grid-template-columns: 150px 50px 100px; /* para el div padre usar grit template columnas*/
    /*grid-template-rows: 100px 100px 50px 100px; /* para el div padre usar grit template para filas*/
    /*con porcentaje tampoco*/
    /*con fracion fr ocupa 1/n del navegador en este casi 1/3*/
    /*grid-template-columns: 1fr 1fr 3fr 1fr 1fr ;
    grid-template-rows: 1fr 4fr;*/
    /*grid-template-columns: repeat(8,1fr) 2fr;*/
    grid-template-columns: 1fr 3fr 1fr 3fr;
    grid-template-rows: 1fr 2fr 3fr 1fr;
}
.contenedor>div{
    background-color: antiquewhite;
}

.contenedor .hijo1{
    /*grid sin template es para las cajas hijos*/
    background-color: aquamarine;
    grid-column:1/3 ;
    grid-row: 1/4;
}
.contenedor .hijo2{
    background-color: rgb(29, 204, 114);
    grid-column: 3/4;
    grid-row:1/5 ;
}
.contenedor .hijo6{
    background-color: rgb(29, 204, 114);
    grid-column: 1/2 ;
    grid-row:4/6 ;
}